.root {
}

.backButton {
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  padding: 0px 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.classes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.categoryButton {
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  span {
    opacity: 0.6;
    font-size: 0.8em;
  }
}

.badWordsButton {
  background: #ffcccc;
  color: #9e1a1a;
  border-color: #d47272;
}

.newWordsButton {
  background: #ffdacc;
  color: #9e441a;
  border-color: #d48e72;
}
