.root {
}

.statistic {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 2;
  width: fit-content;
  margin: auto;
  gap: 10px;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-bottom: 15px;
  background: #ffffff;
  border: 1px solid var(--background);
}

.statisticIcon {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.words {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toggleButtonBox {
  margin-top: 10px;
  position: sticky;
  bottom: 0;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.toggleButton {
  padding: 10px;
  font-size: 16px;
  background: #ffffff;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: #000000;
}
