.root {
}

.words {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wordBox {
  transition: 0.5s;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.wordBoxHideTranslate {
}

.word,
.translate {
  text-align: center;
  transition: 0.5s;
  width: 100%;
}

.word {
  font-weight: bold;
}

.translate {
}

.onlyWord {
  font-weight: normal;
  translate: 50%;
}

.hideTranslate {
  overflow-x: hidden;
  translate: -50%;
  opacity: 0;
}

.toggleButtonBox {
  margin-top: 10px;
  position: sticky;
  bottom: 0;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.toggleButton {
  padding: 10px;
  font-size: 16px;
  background: #ffffff;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: #000000;
}
