.root {
}

.words {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toggleButtonBox {
  margin-top: 10px;
  position: sticky;
  bottom: 0;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.toggleButton {
  padding: 10px;
  font-size: 16px;
  background: #ffffff;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: #000000;
}
